.idea/

*.log
npm-debug.log*

coverage
node_modules
build/

docs/index.html

.env

uploads/*
!uploads/**/
!uploads/.gitkeep
uploads/**/*.png
uploads/**/*.jpg
uploads/**/*.jpeg
!uploads/**/default.*
!uploads/**/foams.*

